# IDE и кеш
venv/
.idea/
__pycache__/
.pytest_cache/
.pytest-temp-run/
.pytest-temp-pre-commit/
.ruff_cache/
.mypy_cache/
.pre-commit-cache/

# секреты
.env
config.json

# большие бинарники
Tesseract-OCR/
dist/
build/
*.exe
*.pkg
*.ico
.pytest-temp/
record_*.wav
records/
